/* Основные цвета фона страниц */
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --acent-color: #2196F3;
    --hero-and-footer-background-color: #2F303A;
    --portfolio-secondary-buttons-color: #F5F4FA;
    --advantage-icons: #212121;
}




/* Header */


















/* Hero */


/* Competencies */












/* Footer */















/* Portfolio page */


