@import './utils/variables';
@import './utils/placeholders';
@import './base/common';
@import './base/resets';
@import './utils/mixins';
@import './base/container';
@import './components/logo';
@import './components/page-header/page-header';
@import './components/page-header/site-nav';
@import './components/page-header/header-contacts';
@import './components/page-header/mobile-menu';
@import './components/hero';
@import './components/advantages';
@import './components/competencies';
@import './components/team-members';
@import './components/clients';
@import './components/page-footer/footer-main';
@import './components/page-footer/footer-contacts';
@import './components/page-footer/footer-socials';
@import './components/page-footer/footer-subscribe';
@import './components/modal/backdrop';
@import './components/modal/modal';
@import './components/portfolio/gallery';
@import './components/portfolio/project-card';
@import './components/portfolio/overlay';