.advantages {
    
    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: $desktop) {
    padding: 94px 0px;
    }
}

.advantages__list {
    @extend %list;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        flex-wrap: nowrap;
    }
}

.advantages-card {

    @media screen and (max-width: 767px) {
        text-align: center;
    }

    @media screen and (min-width: $tablet) {
        width: calc((100% - 2 * 30px) / 2);
        margin-bottom: 30px;
        margin-right: 30px;

        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    @media screen and (min-width: $desktop) {
        width: 270px;
        margin-right: 0;

    }

}

.advantages-card + .advantages-card {

    @media screen and (max-width: 767px) {
        margin-top: 30px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 30px;
    }

}

.advantages-card__background {
    @include centred-Flex();
    margin-bottom: 30px;
    height: 120px;
    background-color: $card-bgc;
}

.advantages-card__icon {
    fill: $title-text-color;
}

.advantages-card__title {
    margin-bottom: 10px;
    color: $title-text-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantages-card__description {
    text-align: left;
    line-height: 1.71;
}