.team-members {
    @include verticalCentredPaddings(60px);
    background-color: $card-bgc;

    @media screen and (min-width: $desktop) {
        @include verticalCentredPaddings(94px);
    }
}

.team-members__title {
    margin-bottom: 30px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
    }
}

.team-members__list {
    @extend %list;
    text-align: center;

    @media screen and (min-width: $desktop) {
        display: flex;
    }
}

.team-members__card {
    display: inline-block;
    text-align: center;
    background-color: #FFFFFF;
    margin-right: 0;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: $tablet) {
        width: calc((100% - 2 * 30px) / 2);
        margin-bottom: 30px;
        margin-right: 30px;

        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 0;
        margin-right: 0;
    }
}

.team-members__card + .team-members__card {
    
    @media screen and (max-width: 767px) {
        margin-top: 30px;
    }

    @media screen and (min-width: $tablet) {
        margin-top: 0;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 30px;
    }
}

.team-members__description {
    padding-top: 30px;
    padding-bottom: 24px;

    @media screen and (min-width: $desktop) {
        @include verticalCentredPaddings(30px);
    }
}

.team-members__names {
    margin-bottom: 10px;
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-members__position {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
}

.social-accounts {
    @extend %list;
    @include centred-Flex();
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

.social-accounts .social-accounts__item + .social-accounts__item {
    margin-left: 10px;
}

.social-accounts__link {
    @include centred-Flex();
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #AFB1B8;

    @include animation(background-color);
    @include animation(color);

    &:hover, &:focus {
        background-color: $accent-color;
        color: #ffffff;
    }
}

.social-accounts__link .social-accounts__icon {
    fill: currentColor;
}