.gallery {
    @include verticalCentredPaddings(60px);

    @media screen and (min-width: $desktop) {
        @include verticalCentredPaddings(94px);
    }
}

.gallery__filters {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @media screen and (min-width: 767px) {

    }

    @media screen and (min-width: $tablet) {
        @include centred-Flex();
        margin-bottom: 30px;
    }

    @media screen and (min-width: $desktop) {
        @include centred-Flex();
        margin-bottom: 50px;
    }
}

.gallery__categories {

    @media screen and (max-width: 767px) {
        margin-right: 8px;
        margin-bottom: 15px;

        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }

        &:nth-last-child(-n + 1) {
            margin-right: 0;
        }

        &:nth-child(3) {
            margin-right: 0;
        }
    }

    @media screen and (min-width: $tablet) {

    }
}

.gallery__categories + .gallery__categories {
    @media screen and (min-width: $tablet) {
        margin-left: 8px;
    }
}

.gallery__button {
    @extend %btn;
    display: block;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.85;
    cursor: pointer;
    font-family: inherit;

    border-radius: 4px;
    color: $title-text-color;
    background-color: $card-bgc;
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));

    @include animation(color);
    @include animation(background-color);
    @include animation(filter);
    
    &:hover, &:focus {
        color: #ffffff;
        background-color: $accent-color;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

.general {
    color: #FFFFFF;
    background-color: $accent-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gallery__list {
    @extend %list;
    display: block;

    @media screen and (min-width: $tablet) {
        display:flex;
        flex-wrap: wrap;
    }
}

.gallery__item {
    display: flex;
    position: relative;
    margin-bottom: 30px;
    background-color: #FFFFFF;

    @media screen and (max-width: 767px) {

        &:nth-last-child(-n + 1) {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width:$tablet) and (max-width: 1199px) {
        width: 354px;
        margin-right: 30px;
        
        &:nth-child(2n) {
            margin-right: 0;
        }
    
        &:nth-last-child(-n + 1) {
            margin-bottom: 0;
            margin-right: 0;
        }
    }    


    @media screen and (min-width:$desktop) {    
        width: 370px;
        margin-right: 30px;

        &:nth-child(3n) {
            margin-right: 0;
        }
    
        &:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
    }   
}