.contacts {
    @extend %list;
    margin-left: auto;

    @media screen and (max-width: 767px) {
        display: none;
    }
    
    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: baseline;
    }
}

.contacts .contacts__items + .contacts__items {
    
    @media screen and (max-width: 1199px) {
        margin-top: 10px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 30px;
    }
}

.contacts .contacts__link {
    @media screen and (min-width: $desktop) {
        @include centred-Flex();
        @include verticalCentredPaddings(32px);
    }
}

.contacts__link {
    color: $primary-text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    @include animation(color);


    &:hover, &:focus {
        color: $accent-color;
    }
}

.contacts__icons {
    align-items: center;
    margin-right: 10px;
    fill: currentColor;
}