.site-nav {
    display: none;

    @media screen and (min-width: $tablet) {
        display: block;
        margin-left: 88px;
    }
}

.site-nav__list {
    @extend %list;
    @include centred-Flex();

    @media screen and (min-width: $desktop) {
        display: flex;
    }
}
.site-nav__list .site-nav__item + .site-nav__item {
    margin-left: 50px;
}

.site-nav__link {
    position: relative;

    display: block;
    @include verticalCentredPaddings(32px);

    color: $title-text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;

    @include animation(color);


    &:hover, &:focus {
        color: $accent-color;
    }
}

.current {
    color: $accent-color;

    &::after {
        content: '';

        position: absolute;
        left: 0;
        bottom: 0;

        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
    
        background-color: $accent-color;
    }
}