%list {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

%btn {
    border: 0 solid transparent;
}

%logo {
    color: $accent-color;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}