.footer-contacts {
    color: #ffffff;
    font-style: normal;
    line-height: 1.71;
}

.footer-contacts__address {
    margin-bottom: 8px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 9px;
    }
}

.footer-contacts__list {
    @extend %list;
}

.footer-contacts__item + .footer-contacts__item {
    margin-top: 8px;

    @media screen and (min-width: $desktop) {
        margin-top: 9px;
    }
}

.footer-contacts__links {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    text-decoration: none;

    @include animation(color);

    &:hover, &:focus {
        color: $accent-color;
    }
}
