.page-footer {
    @include verticalCentredPaddings(60px);
    background-color: $secondary-bgc;
}

.page-footer__content {
    display: flex;
    align-items: baseline;
}

.page-footer__contacts {
    display: inline-block;
}